// variables
@import "variables";

// Mixin
@import "mixins";

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: $font-primary;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #7f7f7f;
	background: #fff;
	height: 100%;
	position: relative;
}

p {
	margin-bottom: 30px;
	margin-top: 30px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

// Buttons
.btn {

	cursor: pointer;
	border: 1px solid transparent;
	padding: 10px 20px;
	font-size: 14px;
	user-select: none;
	font-family: $font-primary;
	outline: none;
	font-weight: bold;
	//font-size: 16px;
	@include border-radius(30px);
}
.btn-primary {
	background: $brand-orangered;
	color: $brand-white;
}

.btn-secondary {
	background: $brand-white;
	color: $brand-black;
}

.container-block {
	border: none;
	z-index: 1;
	margin-bottom: 0;
}

body header {
	position: absolute;
	z-index: 1;
	width: 100%;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	padding: 15px;
	h1 {
		float: left;
		margin: 0px;
		font-size: 22px;
		color: $brand-white;
	}
	nav {
		@include navbar(right, $brand-white);
	}
}

.slider-section {

	.row {
		@include rowblock();
		padding: 0;

		img {
			width: 100%;
			vertical-align: middle;
		}
		.text-section {
			@include text-section(white);
			position:absolute;
			left: 25%;
			top: 25%;
			span {
				font-size: 40px;
			}
			.empty-div {
				@include seperator(10%, $brand-orangered);
			}
		}

	}

}

.services-section{

	.row {
		@include rowblock();
		background-color: $brand-orangered;
		background-image: none;

		.text-section {
			@include text-section(white);
			.empty-div {
				@include seperator(10%, $brand-white);
			}
		}
	}
}

.features-section {
	.row {
		@include rowblock();
		background-color: white;

		.text-section {
			@include text-section($brand-black);
			width: 100%;
			ul {
				padding-right: 40px;
				li {
					display: table-cell;
					padding: 19px 25px;
					padding-bottom: 0;
					vertical-align: middle;
					list-style: none;
				}
			}
			.feature {
				-webkit-transition: -webkit-transform .8s ease-in-out;
				-ms-transition: -ms-transform .8s ease-in-out;
				transition: transform .8s ease-in-out;
			}
			.empty-div {
				@include seperator(5%, $brand-black);
			}
		}
	}
	&:hover {
		.feature {
			transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			-webkit-transform:rotate(360deg);
		}
	}
}

.signup-section {
	.row {
		@include rowblock();
		background: #262626;
		.text-section {
			@include text-section($brand-white);
		}
	}
}

body footer {
	padding: 15px 0;
	height: 70px;
	nav {
		@include navbar(left, $brand-black);
	}

	h1 {
		float: right;
		padding: 0;
		font-weight: 700;
		line-height: 0;
		font-size: 22px;
	}
}
