html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serxif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative; }

p {
  margin-bottom: 30px;
  margin-top: 30px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.btn {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 14px;
  user-select: none;
  font-family: Helvetica, Arial, sans-serxif;
  outline: none;
  font-weight: bold;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.btn-primary {
  background: #ff4500;
  color: #fff; }

.btn-secondary {
  background: #fff;
  color: #000; }

.container-block {
  border: none;
  z-index: 1;
  margin-bottom: 0; }

body header {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  padding: 15px; }
  body header h1 {
    float: left;
    margin: 0px;
    font-size: 22px;
    color: #fff; }
  body header nav {
    float: right;
    padding: 0;
    margin-right: 30px; }
    body header nav ul {
      padding: 0;
      line-height: 0; }
      body header nav ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline; }
        body header nav ul li a {
          margin-right: 10px;
          text-decoration: none;
          color: #fff; }

.slider-section .row {
  position: relative;
  padding: 50px 0;
  padding: 0; }
  .slider-section .row img {
    width: 100%;
    vertical-align: middle; }
  .slider-section .row .text-section {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
    position: absolute;
    left: 25%;
    top: 25%; }
    .slider-section .row .text-section h1 {
      font-size: 30px; }
    .slider-section .row .text-section span {
      font-size: 40px; }
    .slider-section .row .text-section .empty-div {
      width: 10%;
      border: 2px solid #ff4500;
      margin: 0 auto; }

.services-section .row {
  position: relative;
  padding: 50px 0;
  background-color: #ff4500;
  background-image: none; }
  .services-section .row .text-section {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white; }
    .services-section .row .text-section h1 {
      font-size: 30px; }
    .services-section .row .text-section .empty-div {
      width: 10%;
      border: 2px solid #fff;
      margin: 0 auto; }

.features-section .row {
  position: relative;
  padding: 50px 0;
  background-color: white; }
  .features-section .row .text-section {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #000;
    width: 100%; }
    .features-section .row .text-section h1 {
      font-size: 30px; }
    .features-section .row .text-section ul {
      padding-right: 40px; }
      .features-section .row .text-section ul li {
        display: table-cell;
        padding: 19px 25px;
        padding-bottom: 0;
        vertical-align: middle;
        list-style: none; }
    .features-section .row .text-section .feature {
      -webkit-transition: -webkit-transform .8s ease-in-out;
      -ms-transition: -ms-transform .8s ease-in-out;
      transition: transform .8s ease-in-out; }
    .features-section .row .text-section .empty-div {
      width: 5%;
      border: 2px solid #000;
      margin: 0 auto; }
.features-section:hover .feature {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.signup-section .row {
  position: relative;
  padding: 50px 0;
  background: #262626; }
  .signup-section .row .text-section {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: #fff; }
    .signup-section .row .text-section h1 {
      font-size: 30px; }

body footer {
  padding: 15px 0;
  height: 70px; }
  body footer nav {
    float: left;
    padding: 0;
    margin-right: 30px; }
    body footer nav ul {
      padding: 0;
      line-height: 0; }
      body footer nav ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline; }
        body footer nav ul li a {
          margin-right: 10px;
          text-decoration: none;
          color: #000; }
  body footer h1 {
    float: right;
    padding: 0;
    font-weight: 700;
    line-height: 0;
    font-size: 22px; }

/*# sourceMappingURL=style.css.map */
